streamlit
torch
torchvision
grad-cam
scikit-learn
numpy
pandas
opencv-python
Pillow
openmeteo-requests
requests-cache
retry-requests
folium
streamlit-folium
SpeechRecognition
pyttsx3
pyaudio
python-dotenv
google-genai
stripe
